<%= turbo_stream.append :products do %>
  <%= render partial: "product", collection: @products %>
<% end %>
<% if @pagy.next.present? %>
  <%= turbo_frame_tag :next_page,
        src: products_path(page: @pagy.next, format: :turbo_stream),
        loading: :lazy do %>
    <div class="text-center py-3 text-muted">All products displayed. Nothing left to load</div>
  <% end %>
<% end %>
